@import "@shopify/shop-minis-react/styles";

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* shift by half the width since we’ll duplicate content */
  }
}

.animate-infinite-scroll-1 {
  animation: infinite-scroll 8s linear infinite;
}

.animate-infinite-scroll-2 {
  animation: infinite-scroll 4s linear infinite;
}

.animate-infinite-scroll-3 {
  animation: infinite-scroll 7s linear infinite;
}

.animate-infinite-scroll-4 {
  animation: infinite-scroll 6s linear infinite;
}

.react-modal-sheet-container {
  height: 100% !important
}